<launch>
  <node pkg="tf" type="static_transform_publisher" name="camera_fake_localize" args="0.08 0.05 0.14 0 0 0 laser camera_link 10"/> 
  <node pkg="VO_ORB" type="vo_orb_rgbd" name="ORB2_RGBD" args="$(env ORB_PATH)/Vocabulary/ORBvoc.txt $(find VO_ORB)/config/r200.yaml">
    <remap from="/camera/rgb/image_raw" to="/camera/rgb/image_rect_color" />
    <remap from="/camera/depth_registered/image_raw" to="/camera/depth_registered/sw_registered/image_rect" />
  </node>
</launch>
